.sidebarNew {
    display: flex ;  /* flex */
    flex-direction: row ;
    position: fixed ;
    top: 10.67rem ;
    z-index: 10000 !important ;

    width: 21rem ;
    height: auto ;  /* Must specify "height: auto" for scrollbar to appear */

    justify-content: left ;

    left: -200% ;
    right: 0 ;
    bottom: 0 ;

    background-color: rgba(255, 255, 255, 1.0) ;
    padding: 0.05rem ;
    padding-left: -0.1rem ;
    padding-right: 0.2rem ;

    margin-right: 0rem ;

    transition: left 0.6777s ease-in-out;

    overflow-y: auto ;
    overflow-x: hidden ;
}.active {
    left: 0 ;

    border-right: 0.01rem solid rgba(0, 0, 140, 0.1777) ;

    overflow-y: auto ;
    overflow-x: hidden ;
}

.sidebarNew nav {
    width: 100% ;
    padding: 1.1rem ;
    padding-right: 0.1rem ;
    text-decoration: none ;
}

.sidebarNew nav ul {
    list-style-type: none ;
    text-decoration: none ;
    padding-left: 0rem ;
    padding-bottom: 1rem ;
}

.sidebarNew nav ul li {
    text-align: left ;
    text-decoration: none ;
    justify-content: center ;
    color: rgba(0, 0, 90, 1.0) ;

    border-bottom: 0.05rem solid rgba(0, 0, 150, 0.357) ;

    padding-bottom: 1.25rem ;
    padding-top: 1.25rem ;

    padding-left: 0.1rem ;
    margin-left: 0rem ;
    margin-right: 0.7rem ;
    
}
.sidebarNew nav ul li:hover {
    background-color: rgba(240, 240, 240, 0.7777) ;
    cursor: pointer ;
}

.sidebarLabel {
    font-size: 1.255rem ;
    font-weight: 475 ;
    color: rgba(0, 0, 0, 1) ;
    margin-top: 0.9rem ;
    margin-left: 0.2rem ;
    letter-spacing: 0.035rem ;
}

.menuIcon {
    color: rgba(0, 0, 140, 1.0) ;
    font-size: 2.5rem ;
    margin-right: 0.75rem ;
    margin-top: 0.2rem ;
}

.tabMenu {
    display: flex ;  /* flex */
    flex-direction: row ;
    position: fixed ;
    top: 10.67rem ;
    z-index: 9999 !important ;

    width: 30rem ;
    height: auto ;  /* Must specify "height: auto" for scrollbar to appear */

    justify-content: left ;

    left: -200% ;
    right: 0 ;
    bottom: 0 ;

    background-color: rgba(249, 249, 249, 1.0) ;
    padding: 1.5rem ;
    padding-left: 0.5rem ;
    padding-right: 0.5rem ;
    padding-top: 1.6rem ;

    margin-left: 0rem ;

    overflow-y: auto ;
    overflow-x: hidden ;

    transition: 0.77s left ease-in-out ;
}.tabActive{
    left: 21rem ;
}

@media screen and (max-width: 1550px){
    .sidebarNew {
        width: 20rem ;
        padding-left: 0rem ;
        padding-right: 0.7rem ;
    }
    .sidebarNew nav ul li {
        font-size: 1.25rem ;
    }

    .tabActive {
        left: 20rem ;
        width: 30rem ;
    }

}

@media screen and (max-width: 1025px){
    .sidebarNew {
        width: 18.5rem ;
        padding-left: 0.3rem ;
        padding-right: 0.3rem ;
    }
    .tabActive {
        left: 18.5rem ;
    }

    .menuIcon {
        font-size: 2.2rem ;
        margin-right: 0.3rem ;
        margin-top: 0.6rem ;
    }
    .sidebarLabel {
        font-size: 1.2rem ;
    }

    .subSelectionMenu {
        font-size: 1.05rem !important ;
        margin-left: 1rem !important ;
        letter-spacing: 0.05rem !important ;
    }

}

@media screen and (max-width: 769px){
    .sidebarNew {
        width: 15rem ;
        padding-left: 0rem ;
        padding-right: 0.6rem ;
    }
    .sidebarNew nav ul li {
        padding-bottom: 1.2rem ;
        padding-top: 1.2rem ;
        letter-spacing: 0.04rem ;

        font-size: 1.10rem ;
    }
    .menuIcon {
        font-size: 2rem ;
        margin-right: 0.3rem ;
    }
    .sidebarLabel {
        font-size: 1.0rem ;
    }

    .subSelectionMenu {
        font-size: 1.0rem !important ;
        margin-left: 1.25rem !important ;
        letter-spacing: 0.05rem !important ;
    }

    .tabActive {
        left: 15.15rem ;
    }

}

@media screen and (max-width: 480px){
    .sidebarNew {
        width: 100% ;
        justify-content: center ;
        padding-left: 0.5rem ;
        padding-right: 1.1rem ;
    }
    .sidebarNew nav ul li {
        text-align: left ;
        padding-bottom: 1.2rem ;
        padding-top: 1.2rem ;
    }
    .sidebarLabel {
        font-size: 1.35rem ;
    }
    
    .tabActive {
        width: 100% ;
        left: 0 ;

        z-index: 10001 !important ;
    }
}

@media screen and (max-width: 340px){
    .sidebarNew nav ul li {
        padding-bottom: 0.8rem ;
        padding-top: 0.8rem ;
    }
}