
.inputContainer {
    padding-top: 1.25rem ;
    padding-right: 1.55rem ;
    padding-left: 0.75rem ;
    padding-bottom: 1.5rem ;
}

.inputRow {
    display: flex ;
    flex-direction: row ;
    margin-bottom: 1.95rem ;
}

.inputRowLabel {
    font-size: 1.35rem ;
    font-weight: 625 ;
    margin-bottom: 0.15rem ;
    margin-left: 0.25rem ;
}

.inputOption {
    font-size: 1.35rem ;
    font-weight: 475 ;
    letter-spacing: 0.025rem ;

    padding-top: 0.75rem !important ;
    padding-bottom: 0.75rem !important ;

    border: solid 0.1rem rgba(0, 0, 140, 0.5777) ;
}
.inputOption:hover {
    cursor: pointer ;
    border: solid 0.105rem rgba(0, 0, 245, 0.998) ;
}

.inputSubmitRow {
    display: flex ;
    flex-direction: row ;
    margin-top: 3.3rem ;
    margin-bottom: 1.95rem ;
}
.inputSubmit {
    width: 10rem ;
    padding-top: 0.75rem ;
    padding-bottom: 0.75rem ;
    padding-left: 1.35rem ;
    padding-right: 1.35rem ;

    margin-left: 0rem ;

    font-size: 1.5777rem ;
    font-weight: 525 ;
    letter-spacing: 0.075rem ;
    background-color: rgba(4, 4, 82, 0.95) ;
}
.inputSubmit:hover {
    background-color: rgba(0, 105, 33, 0.95) ;
}
.inputSubmit:disabled {
    width: 10rem ;
    
    background-color: rgba(4, 4, 131, 0.713) ;

    padding-top: 0.75rem ;
    padding-bottom: 0.75rem ;
    padding-left: 0.5rem ;
    padding-right: 0.5rem ;

    font-size: 1.5777rem ;
    font-weight: 525 ;
    letter-spacing: 0.075rem ;
}

.inputClear {
    width: 10rem ;

    padding-top: 0.75rem ;
    padding-bottom: 0.75rem ;
    padding-left: 1.35rem ;
    padding-right: 1.35rem ;

    margin-left: 0rem ;

    font-size: 1.5777rem ;
    font-weight: 525 ;
    letter-spacing: 0.075rem ;
}
.inputClear:hover {
    background-color: rgba(255, 10, 0, 0.991) ;
}
.inputClear:disabled {
    width: 10rem ;

    padding-top: 0.75rem ;
    padding-bottom: 0.75rem ;
    padding-left: 0.5rem ;
    padding-right: 0.5rem ;

    font-size: 1.5777rem ;
    font-weight: 525 ;
    letter-spacing: 0.075rem ;
}

input[type=checkbox]{
    transform: scale(2) ;
    margin-left: 0.5rem ;
}


.inputLabelSide {
    margin-left: 0.75rem ;
    font-size: 1.45rem ;
    font-weight: 600 ;
    letter-spacing: 0.05rem ;
}